#footer {
    padding-bottom: 8rem;
    padding-top: 8rem;
  }
  
.footer-wrapper {
    display: grid;
    font-size: 1.3rem;
    grid-template-columns: 1fr auto 1fr;
  }


.footer-menu-nav {
    margin: 0;
    padding: 0;
  }