
@keyframes menu_move {
    from  {min-width : 100px};
    to { min-width: 250px;}
}


/* App Menu */
.menu {
    background-color: var(--menu-color);
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;

    transition: visibility 0.5s, width 0.5s ease-in-out;
    overflow: hidden;
}

.menu_wrapper {
    margin: 10px 10px;
    overflow: hidden;
}

.menu_options {
    text-align: center;
}

@media (max-width : 1000px) {
    .menu {
      display: block;
    }
}

.menu_button {
    width: 32px;
    height : 32px;
}

.menu_button:hover {
    cursor: pointer;
}

.menu_button > * {
    color: #ffffff;
}