.article_meta {
    font-size: 1.2rem;
    margin-bottom: 12px;
    gap: 1rem;
    display : flex;
}

.article_banner {
    width : 100%;
    height : auto;
}

.article_content {
    font-size: var(1.7rem,1.8rem);
    letter-spacing: var(--content-letter-spacing,0);
}

.canvas {
    display: grid;
    grid-template-columns: [full-start] minmax(var(--gap),auto) [wide-start] minmax(auto,calc((var(--container-width, 1200px) - var(--content-width, 720px))/2)) [main-start] min(var(--content-width,720px),calc(100% - var(--gap)*2)) [main-end] minmax(auto,calc((var(--container-width, 1200px) - var(--content-width, 720px))/2)) [wide-end] minmax(var(--gap),auto) [full-end];
}

.canvas > * {
    grid-column: main-start/main-end;
}

.main_article {
    padding-top: 94px;
    flex-grow: 1;
    padding-bottom: 30px;
}

.article_content > img {
    width: 100%;
    height : auto;
    margin-bottom: 10px;
}

.canvas > h1 {
    margin-top : 20px;
    margin-bottom : 20px;
}

.canvas > h2, .canvas > h3, .canvas > h4, .canvas > h5{
  margin-top: 18px;
  margin-bottom: 18px;
}

.canvas > p {
    margin-top: 0px;
    margin-bottom: 18px;
}