/* BASE HTML ELEMENTS */

:root {
  --header-nav-gap: 2.8rem;
  --outer: 3.6rem;
  --font-sans: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  --gap: 3.6rem;
  font-size: 62.5%;
}

[data-theme="light"]:root {
  --code-block-color: #1b252c;
  --background-color1: #ffffff;
  --background-color2: #ffffff;

  --shadow-size: 0px;

  --object-color: #ffffff;
  --object-color-2: #ffffff;
  --object-color-3: #ffffff;

  --header-color: #ffffff;
  --header-text-color: black;

  --text-color: black;
  --text-color-2: black;

  --accent-color:#3fa39e;
  --accent-color-2: #3fa365;
}

[data-theme="dark"]:root {
  --code-block-color: #1b252c;
  --object-color: #1b252c;
  --object-color-2: #2d363b;
  --object-color-3: #10171d;

  --header-color: #1b252c;
  --header-text-color: #ffffff;

  --accent-color: #3fa39e;
  --accent-color-2: #3fa365;

  --text-color: #ffffff;
  --text-color-2: #8c9fac;

  --background-color1: #090e11;
  --background-color2: #161f25;

  --shadow-size: 5px;
}

body {
  min-height: 100vh;
}

body {
  background-image: linear-gradient(0deg, var(--background-color1), var(--background-color2));
  font-family: var(--font-sans);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  text-rendering: optimizespeed;
  margin: 0;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a.not-accentued {
  color: var(--text-color);
}

a:hover {
  color: var(--accent-color);
}

input[type="button"],
button {
  display: block;
  background-color: var(--accent-color-2);
  color: var(--text-color);
  font-weight: 700;
  border: none;
}

input[type="button"]:hover,
button:hover {
  cursor: pointer;
  background-color: #2a814c;
}

input[type="button"]:active,
button:active {
  display: block;
  background-color: #207541;
  color: var(--text-color);
  font-weight: 700;
  border: none;
}

* {
  color: var(--text-color-2)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 3rem;
  letter-spacing: -.03em;
  line-height: 1.4;
  font-weight: 700;
}

*,
::after,
::before {
  box-sizing: border-box;
}

pre {
  background-color: var(--code-block-color) !important;
}

p,
video {
  margin-top: 0px;
  margin-bottom: 18px;
}



ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Code */
code[class*=language-],pre[class*=language-]{color:#f8f8f2;background:0 0;text-shadow:0 1px rgba(0,0,0,.3);font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto;border-radius:.3em}:not(pre)>code[class*=language-],pre[class*=language-]{background:#272822}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#8292a2}.token.punctuation{color:#f8f8f2}.token.namespace{opacity:.7}.token.constant,.token.deleted,.token.property,.token.symbol,.token.tag{color:#f92672}.token.boolean,.token.number{color:#ae81ff}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#a6e22e}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url,.token.variable{color:#f8f8f2}.token.atrule,.token.attr-value,.token.class-name,.token.function{color:#e6db74}.token.keyword{color:#66d9ef}.token.important,.token.regex{color:#fd971f}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}


#content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#main-list {
  flex-grow: 1;
  padding-top: 30px;
}

/* CLASSES */
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.shadow2 {
  box-shadow: var(--shadow-size) var(--shadow-size) var(--shadow-size) #061216;
}

.round {
  border-radius: 8px;
}

.clickable:hover {
  cursor: pointer;
}

.button {
  cursor: pointer
}

.outer {
  padding-top: 0;
  padding-left: var(--outer);
  padding-right: var(--outer);
}

.inner {
  margin: 0 auto;
  max-width: var(--container-width, 1200px);
}

.post-background {
  background-color: #10181d;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}


.accentued {
  color: var(--accent-color);
}

.accentued2 {
  color: var(--accent-color-2);
}


.taxonomy-feed {
  display: flex;
  gap: 25px;
  flex-direction: row;
}


.tags {
  color: var(--accent-color);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: .005em;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  gap: 0.6rem;
}

.page-feed {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.powered-by {
  text-align: right;
}


.normal-text {
  color: var(--text-color-2);
}

@media (max-width : 1900px) {
  .desktop-only {
    display: flex !important;
  }

  .phone-only {
    display: none !important;
  }
}

@media (max-width : 1000px) {
  .desktop-only {
    display: none !important;
  }

  .phone-only {
    display: flex !important;
  }
}

.article-meta {
  display: flex;
  gap: 1rem;
}
